@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
:root {
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}

.bodyContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: min-content 1fr;
  place-content: center;
  height: 100vh;
  font-family: "Press Start 2P";
}
.mainGame {
  display: grid;
  place-content: center;
  max-height: 100%;
}

.logContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  grid-row: 2 / -1;
  grid-column: 3 / -1;
}

.gameInfo {
  display: grid;
  place-content: center;
  row-gap: 0.5rem;
  flex: 1;
  overflow: auto;
  max-height: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.playerTurn {
  place-self: center;
}

.playerDivGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: fit-content;
  width: fit-content;
}

.square {
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
}

.playerOneSquare {
  width: 1.5rem;
  height: 1.5rem;
}

.leftColumn {
  place-items: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.header {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100vw;
  height: 100px;

  place-items: center;
}

.title {
  font-family: "Press Start 2P";
  font-size: 3rem;
}
.squareHover {
  background-color: lightblue;
}

.hitEntry {
  color: green;
}

.missEntry {
  color: grey;
}
