@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  box-sizing: border-box;
}

font-face {
  font-family: "Roboto";
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  row-gap: 3rem;
}

/* .playerDiv {
margin-top: ;
} */

.playerDivGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: fit-content;
  width: fit-content;
}

.square {
  border: 1px solid black;
  width: 1rem;
  height: 1rem;
}
